<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
      <br>
        <div class="columns is-centered">
          <%- include("../partials/header.ejs") %>
        </div>
      </div>
      <br>
      <main>
        <div class="control">
          <div class="columns is-centered">
            <a href="/user/signup"><button class="button is-primary mx-4">SignUp</button></a>
            <a href="/user/login"><button class="button is-primary mx-4">LogIn</button></a>
          </div>
          <br>
        </div> 
          <%for (game of games){%>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title"><%=game.name%></p>
              </header>
              <div class="card-image">
                <figure class="image">
                  <img src=<%=game.logo%> alt=<%=game.name%>/>                            
                </figure>
              </div>
            </div>    
          <%}%>
      </main>
    </body>
</html>