<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <button class="button">Create Account</button>
                    <button class="button">Log In</button>
                </div> 
                <%for (game of games){%>
                    <div class="columns is-centered">
                      <div class="column is-half">
                        <div class="card">
                          <header class="card-header">
                            <p class="card-header-title"><%=game.name%></p>
                            <button class="card-header-icon" aria-label="more options">
                              <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </button>
                          </header>
                          <div class="card-image">
                            <figure class="image 64x64">
                              <img src=<%=game.logo%> alt=<%=game.name%>/>                            
                            </figure>
                          </div>
                        </div>    
                      </div>
                    </div>  
                <%}%>
            </main>
    </body>
</html>