<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
      <br>
        <div class="columns is-centered">
          <%- include("../partials/header.ejs") %>
        </div>
      </div>
      <br>
      <main>
        <div class="control">
          <div class="columns is-centered">
            <a href="/user/signup"><button class="button is-primary mx-4">SignUp</button></a>
            <a href="/user/login"><button class="button is-primary mx-4">LogIn</button></a>
          </div>
          <br>
        </div> 
          <%for (game of games){%>
              <div class="columns is-centered">
                <div class="column is-half">
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title"><%=game.name%></p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-image">
                      <figure class="image 64x64">
                        <img src=<%=game.logo%> alt=<%=game.name%>/>                            
                      </figure>
                    </div>
                  </div>    
                </div>
              </div>  
          <%}%>
      </main>
    </body>
</html>